 
 @foreach (var item in Model)
{
    <div class="row">
    <div class="col-12 col-md-3">
        <input type="text" disabled class="form-control" value="@item.Id" />
    </div>
    <div class="col-12 col-md-4">
        <input type="text" disabled class="form-control" value="@item.Model">
    </div>
    <div class="col-12 col-md-3">
        <input type="text" disabled class="form-control" value="@item.NrBolts">
    </div>
    <div class="col-12 col-md-2">
        <button class="btn general-btn"asp-action="RemoveCar">
            <img src="images/delete.svg" alt="Delete icon"/>
        </button>
        <button class="btn general-btn">
            <img src="images/edit.svg" alt="Edit icon" />
        </button>
    </div>
</div>
}
