@model CarViewModel
 
<div class="row">
    <div class="col-12 col-md-6">
        <label class="col-form-label">Id</label>
        <input type="text" disabled class="form-control" value="@Model.Id" />
    </div>
    <div class="col-12 col-md-6">
        <label class="col-form-label">Model</label>
        <input type="text" disabled class="form-control" value="@Model.Model">
    </div>
</div>