@model List<CarViewModel>

    <h2>Cars:</h2>
    <div class="row">
        <div class="col-12 col-md-4">
            <label class="col-form-label">Id</label>
        </div>
        <div class="col-12 col-md-4">
            <label class="col-form-label">Model</label>
        </div>
        <div class="col-12 col-md-4">
            <label class="col-form-label">Nº Bolts</label>
        </div>
    </div>

    <div id="cars-list"></div>
    <br />

    <form asp-action="AddCar">
        <h2>Create a new car:</h2>
        <div class="row">
            <div class="col-12 col-md-6">
                <label class="col-form-label" for="model">Model:</label><br>
                <input class="form-control" type="text" id="Model" name="Model"><br>
            </div>
            <div class="col-12 col-md-6">
                <label class="col-form-label" for="nrBolts">Nº of bolts</label><br>
                <input class="form-control" type="number" id="nrBolts" name="nrBolts">
            </div>
        </div>
        <span class="alert-danger">
            @Html.ValidationMessage("FailMessage")
        </span>
        <span class="alert-success">
            @Html.ValidationMessage("SuccessMessage")
        </span>
        <p></p>
        <input class="col-2 form-control" type="submit" value="Submit" id="add-car">
    </form>

    <p></p>
    @using (Html.BeginForm("SimpleMethod", "Cars"))
    {
    <button type="submit" >Simple button</button>
    }


    @section scripts{
    <script>
        $(document).ready(function () {
            
            $("#cars-list").load("api/Cars/all");

            $("#add-car").click(function () {
                $("#cars-list").load("api/Cars/all");
            });

        });
    </script>
    }
